.header {
  height: 50px;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 1em;
  font-family: var(--HeaderFont);
  border: none;
  position: sticky;
}
