.login {
  border-radius: 50px;
  color: white;
  display: inline-block;
  align-items: center;
  padding: 1em 3em 1.125em;
  margin-top: 10%;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(112, 49, 49) 0%,
    rgb(154, 179, 154) 50%,
    rgb(112, 49, 49) 100%
  );
  border: none;
  box-shadow: 0 4px 24px 23px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 4px 24px 23px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 24px 23px rgba(0, 0, 0, 1);
  cursor: pointer;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

/* KEYFRAMES */

/**
   * ----------------------------------------
   * animation slide-in-elliptic-top-fwd
   * ----------------------------------------
   */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
