.teamName {
  color: black;
  text-align: center;
  margin: 2em 0 2em 0;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 5em;
}

.teamListBadge {
  max-width: 100%;
}

.listHeader {
  margin-bottom: 10px;
}
