.listContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 5em;
  margin-left: 35px;
}

.teamListBadge {
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  margin: 5em 0 5em 0;
  width: 170px;
  height: auto;
  cursor: pointer;
  animation: fadein 2s;
}

.listHeader {
  margin-bottom: 10px;
  width: 100;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.choose {
  color: white;
}
