@font-face {
  font-family: "NewTegominRegular";
  font-style: normal;
  src: url("/Fonts/NewTegomin-Regular.ttf") format("truetype");
}

:root {
  --HeaderFont: "NewTegominRegular", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
